{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "trailingComma": "es5",
    "printWidth": 80,
    "arrowParens": "always"
}
